* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    color: #45e9ff;
    text-shadow : 3px 3px 1px #452cd6, 6px 6px 1px #fb37d4;
}

body {
    background-color: black;
}

.js img {
    filter: drop-shadow(6px 6px 2px #fb37d4);
}

.header {
    display: flex;
    align-items: center;
    font-size: 4vw;
    padding-top: 3vh;
}

.header img {
    height: 8vw;
}

.box, .header h1 {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.human, .js {
    display: flex;
    flex-direction: column;
}

.human .score, .js .score {
    align-self: center;
}

h3 {
    font-style: italic;
    text-align: center;
    font-size: 4vw;
}

.gui img {
    height: 30vh;
    margin-top: 8vh;
}

.gui {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.fade1, .fade2, .fade3, .fade4, .fade5, .fade6, .fade7 {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
  
@keyframes fadeIn {
100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
100% { opacity: 1; }
}

@-o-keyframes fadeIn {
100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
100% { opacity: 1; }
}

@-webkit-keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
    50% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    100% {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
}

@keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
    50% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    100% {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
}

@-webkit-keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
}

@keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
}

.bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.fade2 {
    animation-delay: 1s;
}

.fade3 {
    animation-delay: 2s;
}

.fade4 {
    animation-delay: 3s;
}

.fade5 {
    animation-delay: 4s;
}

.fade6 {
    animation-delay: 5s;
}

.fade7 {
    animation-delay: 6s;
}

